{
  "AuthorizationProfile": {
    "name": "VLAN{{ vlan_id }}",
    "description": "auto_created_profile",
    "accessType": "ACCESS_ACCEPT",
    "authzProfileType": "SWITCH",
    "vlan": {
      "nameID": "{{ vlan_id }}",
      "tagID": 1
    }
  }
}